
<br>
<br>
    <div class="row">

      <div class="col">
        <div class="card-new rounded p-3">
          <h5> Add a film </h5>
          <%= simple_form_for [@list, @bookmark] do |f| %>
            <%= f.input :comment, placeholder: 'Enter a comment about the movie' %>
            <%= f.association :movie, prompt: 'Select a movie', input_html: { class: 'select2' } %>
            <%= f.submit class: "btn btn-outline-light" %>
          <% end %>
        </div>
      </div>

    </div>
